



.block {
    display: block;
     width: 67%;
     border: none;
     background-color: #171817;
     padding: 15px 25px;
     font-size: 16px;
     color: white;
     cursor: pointer;
     text-align: center;
     position: relative;
     margin-left: auto;
     margin-right: auto;
 
 
   }
 
 
 
 .container {
     padding-right: 0px;
     padding-left: 0px;
     margin-right: auto;
     margin-left: auto;
 }
 
 
 h2{
     color: black;
    
     line-height: 1;
     margin: 2;
 }
 .align-items-center {
     align-items: center!important;
 }
 .justify-content-between {
     justify-content: space-between!important;
 }.d-flex {
     display: flex!important;
 }
 .list-group-item {
     position: relative;
     display: block;
     padding: .5rem 1rem;
     text-decoration: none;
     background-color: #fff;
     border: 1px solid rgba(0,0,0,.125);
 }
 
 .inlineimage {
     max-width: 470px;
     margin-right: 8px;
     margin-left: 10px
 }
 
 .images {
     display: inline-block;
     max-width: 98%;
     height: auto;
     width: 22%;
     margin: 1%;
     left: 20px;
     text-align: center;
     position:center;
 }
 h1{
     font-family:"Comic Sans MS";
     color: rgb(133, 5, 5);
 }
 .modal.show{
     display: block
 }
 .modal.body{
    margin: 0;
 
 }
 
 
 
 
 