<p>createprod works!</p>
<h2>co</h2>
<div class="col-md-8 offset-md-3">
<h3>Create Ad</h3>
<form (ngSubmit)="onSubmit()" >
<div class="form-group">
<label >Ad id</label>
<input type="text" class="form-control" id="Adid"
[(ngModel)]="ad.id" name="Adid">
</div>

<div class="form-group">
<label >Ad Title</label>
<input type="text" class="form-control" id="AdTitle"
[(ngModel)]="ad.title" name="AdTitle">
</div>
<div class="form-group">
    <label >Ad description</label>
    <input type="text" class="form-control" id="Addescription"
    [(ngModel)]="ad.description" name="Addescription">
    </div>
    


    <button type="submit">submit</button>

</form>
</div>