
<header id="home" class="header">
  <!-- Navigation -->
  <nav class="nav">
    <div class="navigation container">
      <div class="logo">
        
      </div>

    </div>
  </nav>

  <!-- Hero -->
  <img src="assets/images/r/banner.png" alt="" class="hero-img" />

  <div class="hero-content">
    <h2><span class="discount">70% </span> SALE OFF</h2>
    <h1>
      <span>Product Tunisian</span>
      <span>mode on</span>
    </h1>
    <a class="btn" href="/register-client">shop now</a>
  </div>
</header>

<!-- Main -->
<main>
  <section class="advert section">
    <div class="advert-center container">
      <div class="advert-box">
        <div class="dotted">
          <div class="content">
            <h2>
              traditionnal <br />
              dress
            </h2>
            <h4>Worlds Best Brands</h4>
          </div>
        </div>
        <img src="assets/images/r/advert1.png" alt="">
      </div>

      <div class="advert-box">
        <div class="dotted">
          <div class="content">
            <h2>
              traditional  <br />
              costumes
            </h2>
            <h4>Worlds Best Brands</h4>
          </div>
        </div>
        <img src="assets/images/r/advert2.png" alt="">
      </div>
      

    </div>
  </section>
<!-- Featured -->
<section class="section featured">
<div class="title">
  <h1>Products</h1>
</div>
<div class="product-center container">

  <div class="product">
    <div class="product-header">
      <img src="assets/images/r/pic1.jpg" alt="">

      <ul class="icons">
        <span><i class="bx bx-heart"></i></span>
        <span><i class="bx bx-shopping-bag"></i></span>
        <span><i class="bx bx-search"></i></span>
      </ul>
    </div>
    <div class="product-footer">
      <a href="#"><h3>Lait Delice</h3></a>
      <div class="rating">
        <i class="bx bxs-star"></i>
        <i class="bx bxs-star"></i>
        <i class="bx bxs-star"></i>
        <i class="bx bxs-star"></i>
        <i class="bx bx-star"></i>
      </div>
      <h4 class="price">1.250DT</h4>
    </div>
  </div>
  <div class="product">
    <div class="product-header">
      <img src="assets/images/r/pic2.jpg" alt="">

      <ul class="icons">
        <span><i class="bx bx-heart"></i></span>
        <span><i class="bx bx-shopping-bag"></i></span>
        <span><i class="bx bx-search"></i></span>
      </ul>
    </div>
    <div class="product-footer">
      <a href="#"><h3>Crepes d'or</h3></a>
      <div class="rating">
        <i class="bx bxs-star"></i>
        <i class="bx bxs-star"></i>
        <i class="bx bxs-star"></i>
        <i class="bx bxs-star"></i>
        <i class="bx bx-star"></i>
      </div>
      <h4 class="price">3.000DT</h4>
    </div>
  </div>
  <div class="product">
    <div class="product-header">
      <img src="assets/images/r/pic3.jpg" alt="">
      <ul class="icons">
        <span><i class="bx bx-heart"></i></span>
        <span><i class="bx bx-shopping-bag"></i></span>
        <span><i class="bx bx-search"></i></span>
      </ul>
     </div>
     
   <div class="product-footer">
      <a href="#"><h3>Fromage Kaiser</h3></a>
      <div class="rating">
        <i class="bx bxs-star"></i>
        <i class="bx bxs-star"></i>
        <i class="bx bxs-star"></i>
        <i class="bx bxs-star"></i>
        <i class="bx bx-star"></i>
      </div>
      <h4 class="price">4.500DT</h4>
    </div>
  </div>
  
</div>
</section>

